:root {
  --clr-bg-card-light: #343963;
  --clr-bg-card-dark: #1c1f35;
  --clr-text-primary: #d8d9ed;
  --clr-text-secondary: #babcd9;
  --clr-divider: #6569c8;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('./assets/fonts/ClashGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('./assets/fonts/ClashGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'ClashGrotesk', sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size-adjust: 0.52;
  background: linear-gradient(
    12deg,
    rgba(25, 28, 69, 1) 30%,
    rgba(35, 40, 95, 0.9) 70%,
    rgba(43, 49, 120, 0.75) 90%,
    rgba(62, 69, 171, 0.9) 109.2%
  );
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  margin: 0;
}

p {
  text-wrap: pretty;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

:target {
  scroll-margin-block: 5ex;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

.content-wrapper {
  min-height: 100vh;
  min-height: 100svh;
}

.header {
  margin: 1rem 0 3rem;

  .logo {
    width: 3rem;
  }

  .header-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .temperature-toggle {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-self: end;

    .temp-label {
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      color: #9396ce;
      font-size: 1.125rem;

      &.active {
        color: white;
      }
    }

    .toggle-btn {
      position: relative;
      width: 4rem;
      height: 2.5rem;
      background: #42457b;
      border: 1px solid var(--clr-divider);
      border-radius: 9999px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .toggle-slider {
      position: absolute;
      top: 0.15rem;
      left: 0.25rem;
      width: 2rem;
      height: 2rem;
      background: #9396ce;
      border-radius: 50%;
      transition: all 0.3s ease;
    }

    .toggle-btn.active .toggle-slider {
      left: 1.625rem;
    }

    .toggle-btn:not(.active) .toggle-slider {
      left: 0.25rem;
    }
  }

  .search-wrapper {
    position: relative;
    margin-top: 2.25rem;
    grid-row: 2;
    grid-column: span 2;
    width: 100%;

    .search-icon {
      position: absolute;
      left: 1rem;
      top: 0.75rem;
    }

    .search-input {
      padding: 1rem 1rem 0.75rem 3rem;
      background: #42457b;
      border: 1px solid var(--clr-divider);
      height: 3rem;
      width: 100%;
      border-radius: 999px;
      color: #fff;
      font-weight: 500;
      font-size: 1.125rem;

      &::placeholder {
        font-size: 1.125rem;
        color: #9396ce;
        font-weight: 500;
      }

      &:focus {
        outline: 2px solid var(--clr-divider);
      }

      &::-webkit-search-cancel-button {
        filter: brightness(0) saturate(100%) invert(100%);
      }
    }

    .autocomplete-results {
      height: 0;
      overflow: hidden;
      position: absolute;
      width: 100%;
      transition: height 0.4s ease-out;

      &.open {
        height: auto;
      }
      > ul {
        display: grid;
        color: var(--clr-text-primary);
        border: 1px solid var(--clr-divider);
        border-radius: 1.25rem;
        overflow: hidden;

        li {
          padding-left: 2rem;
          padding-block: 0.75rem;
          cursor: pointer;
          background: var(--clr-bg-card-light);

          &:hover {
            background: var(--clr-bg-card-dark);
          }
        }
      }
    }
  }
}

.container {
  width: 100%;
  padding: 0 16px;
  margin-inline: auto;
}

.location {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.25rem;

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  h3 {
    color: var(--clr-text-primary);
    font-size: clamp(1.375rem, 1.239rem + 0.68vw, 1.75rem);
    font-weight: 500;
  }
}

.cards-highlight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin-bottom: 2.5rem;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    border-radius: 2rem;
    border: 1px solid var(--clr-divider);
    background: var(--clr-bg-card-light);
    padding: 0.75rem 0;
    font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
    color: var(--clr-text-secondary);

    &:not(:first-child) {
      .digit {
        gap: 0.5rem;
        > p {
          font-size: 1.5rem;
        }
      }
    }

    .digit {
      display: flex;
      align-items: center;
      gap: 1rem;

      svg {
        width: 2rem;
        height: 2rem;
      }

      > p {
        font-family: 'Inter', sans-serif;
        color: var(--clr-text-primary);
        font-size: 2rem;
        font-weight: 700;
        line-height: normal;
      }
    }

    .bottom {
      display: inline-flex;
      align-items: center;
    }

    &:first-child {
      grid-column: span 2;
    }
  }
}

.weather-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0 0.5rem;
  margin-bottom: 2.5rem;

  .weather-details-item {
    display: flex;
    gap: 0.75rem;
  }

  .text-info {
    p {
      color: var(--clr-text-secondary);
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }

    span {
      color: var(--clr-text-primary);
      font-family: 'Inter', sans-serif;
      font-size: 1.25rem;
      font-weight: 700;
    }
  }
}

.hourly-forecast {
  overflow-x: scroll;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2.5rem;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #1a1a2e;
    border-radius: 0.25rem;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.25rem;
  }

  .hour {
    display: flex;
    width: 4.25rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 1rem;
    background: var(--clr-bg-card-dark);
    color: var(--clr-text-primary);
    margin-bottom: 2rem;
  }
}

.weekly-forecast {
  display: grid;
  gap: 0.25rem;
  margin-bottom: 2rem;

  > li {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: 0.75rem 2.5rem 0.75rem;
    border-radius: 0.75rem;
    background: var(--clr-bg-card-light, #343963);
    color: var(--clr-text-primary);
    font-size: 1.125rem;

    .icon svg {
      width: 1.25rem;
      height: 1.25rem;
    }

    .day {
      width: 2.5rem;
      font-weight: 500;
    }
  }
}

/* Tablets */
@media (min-width: 768px) {
  .container {
    max-width: 90%;
    padding: 0;
  }
}

/* Desktops */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .header {
    margin: 1.75rem 0 5rem;

    .logo {
      width: 4rem;
    }

    .header-wrapper {
      display: grid;
      grid-template-columns: 1fr 32.5rem 1fr;
    }

    .temperature-toggle {
      grid-row: 1;
      grid-column: 3;
      .temp-label {
        font-size: 1.375rem;
      }
    }

    .search-wrapper {
      margin-top: 0;
      grid-row: 1;
      grid-column: 2;

      .search-input {
        padding: 0.75rem 1rem 0.75rem 3.5rem;
        height: 3.5rem;
        font-size: 1.25rem;

        &::placeholder {
          font-size: 1.25rem;
        }
      }
    }
  }

  .location {
    margin-bottom: 2.5rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .cards-highlight {
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;

    .card {
      padding: 1.5rem 0;
      border-radius: 3.5rem;
      flex: 1;

      &:not(:first-child) {
        .digit {
          gap: 1rem;
          > p {
            font-size: 2.5rem;
          }
        }
      }

      .digit {
        svg {
          width: 3.25rem;
          height: 3.25rem;
        }

        > p {
          font-size: 3.5rem;
        }
      }

      &:first-child {
        grid-column: span 2;
      }
    }
  }

  .weather-details {
    grid-template-columns: repeat(5, 1fr);
    padding: 0 1rem;
    margin-bottom: 4rem;

    svg {
      transform: translateY(2px);
    }

    .text-info {
      p {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  .hourly-forecast {
    margin-bottom: 6rem;
  }

  .weekly-forecast {
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;

    > li {
      flex: 1;
      display: grid;
      text-align: center;
      gap: 0.5rem;
      padding: 0.75rem;
      border-radius: 1rem;
      font-size: 1rem;

      .icon svg {
        width: 1.75rem;
        height: 1.75rem;
      }

      .day {
        width: initial;
        font-size: 1.25rem;
        font-weight: 400;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
